@import "functions";
@import "variables";

#datepickerCalendar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  border: 1px solid #888;
  z-index: 9999;
  padding: 29px 1px 1px 1px;
  @include drop-shadow(1px, 1px, 6px, 1px, 0.3);

  a{
    cursor:pointer;
  }

  table{
    margin:0;
    border-width:0;
    width:auto;
    *border-collapse:collapse;
  }

  nav{
    position:absolute;
    width:100%;
    top:1px;
    left:1px;
    height:28px;
    background-color:#706F65;
    border-bottom:1px solid #fff;
  }

  h6 {
    text-align:center;
    padding:0;
    margin:0;
    line-height:28px;
    color:#fff;
  }
  tbody tr:first-child td {
    border-top:0
  }
  th {
    background-color: #ccc;
    border-left: 1px solid #fff;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
    &:first-child {
      border-left: none;
    }
    span {
      display: block;
      color: #333;
      font-weight: bold;
      font-size: 11px;
      padding: 5px;
    }
  }
  td {
    background: #fff;
    padding: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-right: 0;
    &:first-child{
      border-left: none;
    }

    a{
      display:block;
      padding:5px;
      text-decoration:none;
      text-align:center;
      font-size:12px;
    }
  }

  td.day:hover,
  td.day:hover a{
    background-color:$hoverbg;
  }

  td.today{
    @extend td.day;
    a{
      color: #333;
      font-weight: bold;
    }
  }

  td.selectedDay{
    background-color:#706F65;
    a{
      font-weight: bold;
      color: #fff;
      &:hover {
        background-color: #706F65;
      }
    }
    &:hover {
      background-color: #706F65;
    }
  }

  td.out-of-range{
    &:hover{
      background-color:#fff;
      a{
        background-color:#fff;
        cursor:default;
      }
    }
    a {
      cursor: default;
      color: #aaa;
    }
  }

  td.blank {
    border-left: none;
  }
  td.firstEndFiller {
    border-left: 1px solid #ddd;
  }

  .prevBtn {
    position: absolute;
    display: block;
    padding: 0 5px;
    line-height: 27px;
    top: 0;
    width: 10px;
    height: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    left: 0;
  }
  .nextBtn{
    @extend .prevBtn;
    right: 0;
    left: auto;
    text-align: right;
  }
  .select-menu{
    line-height:15px;
    margin:0 3px 0 0;

    .display{
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
    }
    .arrow{
        padding: 0 5px;
        font-size: 8px;
    }
  }

  .dropdowns{
    padding: 3px 0 3px;
    margin:0 20px;
  }
}

.datepicker-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(../assets/icon_cal.gif) no-repeat center center;
  cursor: pointer;
  &:hover {
    background: transparent url(../assets/icon_cal_on.gif) no-repeat center center;
  }
}
