@import "functions";
@import "variables";

#notification {
  background: #89a542;
  padding: 10px;
  @include border-radius(8px);
  position: fixed;
  border: 3px solid white;
  @include drop-shadow(1px, 1px, 3px, 0, 0.4);
  width: 300px;
  p {
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0 0 10px 0;
  }
  img {
    float: left;
    margin: 0 10px 0 0;
  }
  span {
    position: relative;
    top: 5px;
  }
}
#notification.upgrade {
  background: #fcf2c7;
  width: 440px;
  h4 {
    color: #A66618;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 3px 0;
  }
  h3 {
    color: #333333;
    font-size: 24px;
    margin: 0 0 5px 0;
  }
  p {
    text-shadow: none;
    color: #333;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../assets/close-yellow.png);
  }
  .btn { // buttons.scss
    margin-right: 10px;
  }
}
