@import "functions";
@import "variables";

.option-menu {
  padding: 0;
  background-color: #fff;
  border: 1px solid #999;
  z-index: 999999;
  position: absolute;
  outline: none;
  @include drop-shadow(0, 2px, 3px, 0, 0.3);


  li {
    margin: 0;
    list-style-type: none;
    border-top: 1px solid #ccc;
    position:  relative;

    .option {
      padding: 5px 25px 5px 5px;
      cursor: pointer;
      display: block;
      word-wrap: break-word;

      &:hover{
        text-decoration: none;
      }

      &.current {
        background-color: $hoverbg;
      }

      &.selected {
        background-color: $links;
        color: #fff;
      }
    }

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .q {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }

  &.long {
    max-height: 300px;
    overflow-y: auto;
    overflow-x:hidden;
  }
}
