/* line 13, ../sass/smtemplates/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/* line 18, ../sass/smtemplates/normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 25, ../sass/smtemplates/normalize.scss */
audio:not([controls]) {
  display: none; }

/* line 31, ../sass/smtemplates/normalize.scss */
[hidden] {
  display: none; }

/* line 36, ../sass/smtemplates/normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 45, ../sass/smtemplates/normalize.scss */
body {
  margin: 0;
  padding: 0;
  margin: 0; }

/* line 55, ../sass/smtemplates/normalize.scss */
button,
input,
select,
textarea {
  font-family: Arial,Helvetica,sans-serif; }

/* line 60, ../sass/smtemplates/normalize.scss */
dfn {
  font-style: italic; }

/* line 65, ../sass/smtemplates/normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 75, ../sass/smtemplates/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em; }
  /* line 79, ../sass/smtemplates/normalize.scss */
  .ie6 pre, .ie6
  code, .ie6
  kbd, .ie6
  samp {
    font-family: 'courier new', monospace; }

/* line 85, ../sass/smtemplates/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 92, ../sass/smtemplates/normalize.scss */
q {
  quotes: none; }

/* line 97, ../sass/smtemplates/normalize.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 101, ../sass/smtemplates/normalize.scss */
small {
  font-size: 75%; }

/* line 106, ../sass/smtemplates/normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 112, ../sass/smtemplates/normalize.scss */
sup {
  top: -0.5em; }

/* line 115, ../sass/smtemplates/normalize.scss */
sub {
  bottom: -0.25em; }

/* line 120, ../sass/smtemplates/normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

/* line 125, ../sass/smtemplates/normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 128, ../sass/smtemplates/normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 134, ../sass/smtemplates/normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 144, ../sass/smtemplates/normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 150, ../sass/smtemplates/normalize.scss */
figure {
  margin: 0; }

/* line 156, ../sass/smtemplates/normalize.scss */
form {
  margin: 0;
  border: none; }

/* line 162, ../sass/smtemplates/normalize.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0; }

/* line 168, ../sass/smtemplates/normalize.scss */
legend {
  border: 0;
  *margin-left: -7px; }

/* line 179, ../sass/smtemplates/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 193, ../sass/smtemplates/normalize.scss */
button, input {
  line-height: normal; }

/* line 200, ../sass/smtemplates/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/* line 212, ../sass/smtemplates/normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 225, ../sass/smtemplates/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
@inclue box-sizing(content-box); }

/* line 234, ../sass/smtemplates/normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 240, ../sass/smtemplates/normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 247, ../sass/smtemplates/normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 257, ../sass/smtemplates/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, ../sass/smtemplates/colorswatches.scss */
.bg-altdark {
  background-color: #de7e35; }

/* line 5, ../sass/smtemplates/colorswatches.scss */
.brd-altdark {
  border-color: #de7e35; }

/* line 6, ../sass/smtemplates/colorswatches.scss */
.txt-altdark {
  color: #de7e35; }

/* line 8, ../sass/smtemplates/colorswatches.scss */
.bg-altmed {
  background-color: #fadd92; }

/* line 9, ../sass/smtemplates/colorswatches.scss */
.brd-altmed {
  border-color: #fadd92; }

/* line 10, ../sass/smtemplates/colorswatches.scss */
.txt-altmed {
  color: #fadd92; }

/* line 12, ../sass/smtemplates/colorswatches.scss */
.bg-altlight {
  background-color: #fcf2c7; }

/* line 13, ../sass/smtemplates/colorswatches.scss */
.brd-altlight {
  border-color: #fcf2c7; }

/* line 14, ../sass/smtemplates/colorswatches.scss */
.txt-altlight {
  color: #fcf2c7; }

/* line 16, ../sass/smtemplates/colorswatches.scss */
.bg-grydrk {
  background-color: #706f65; }

/* line 17, ../sass/smtemplates/colorswatches.scss */
.brd-grydrk {
  border-color: #706f65; }

/* line 18, ../sass/smtemplates/colorswatches.scss */
.txt-grydrk {
  color: #706f65; }

/* line 20, ../sass/smtemplates/colorswatches.scss */
.bg-grymeddrk {
  background-color: #94938c; }

/* line 21, ../sass/smtemplates/colorswatches.scss */
.brd-grymeddrk {
  border-color: #94938c; }

/* line 22, ../sass/smtemplates/colorswatches.scss */
.txt-grymeddrk {
  color: #94938c; }

/* line 24, ../sass/smtemplates/colorswatches.scss */
.bg-grymed {
  background-color: #cccccc; }

/* line 25, ../sass/smtemplates/colorswatches.scss */
.brd-grymed {
  border-color: #cccccc; }

/* line 26, ../sass/smtemplates/colorswatches.scss */
.txt-grymed {
  color: #cccccc; }

/* line 28, ../sass/smtemplates/colorswatches.scss */
.bg-grymdlt {
  background-color: #dadad8; }

/* line 29, ../sass/smtemplates/colorswatches.scss */
.brd-grymdlt {
  border-color: #dadad8; }

/* line 30, ../sass/smtemplates/colorswatches.scss */
.txt-grymdlt {
  color: #dadad8; }

/* line 32, ../sass/smtemplates/colorswatches.scss */
.bg-grylt {
  background-color: #eaeae8; }

/* line 33, ../sass/smtemplates/colorswatches.scss */
.brd-grylt {
  border-color: #eaeae8; }

/* line 34, ../sass/smtemplates/colorswatches.scss */
.txt-grylt {
  color: #eaeae8; }

/* line 36, ../sass/smtemplates/colorswatches.scss */
.bg-ctadark {
  background-color: #86a33b; }

/* line 37, ../sass/smtemplates/colorswatches.scss */
.brd-ctadark {
  border-color: #86a33b; }

/* line 38, ../sass/smtemplates/colorswatches.scss */
.txt-ctadark {
  color: #86a33b; }

/* line 40, ../sass/smtemplates/colorswatches.scss */
.bg-ctalight {
  background-color: #a7c23d; }

/* line 41, ../sass/smtemplates/colorswatches.scss */
.brd-ctalight {
  border-color: #a7c23d; }

/* line 42, ../sass/smtemplates/colorswatches.scss */
.txt-ctalight {
  color: #a7c23d; }

/* line 44, ../sass/smtemplates/colorswatches.scss */
.bg-links {
  background-color: #00858b; }

/* line 45, ../sass/smtemplates/colorswatches.scss */
.brd-links {
  border-color: #00858b; }

/* line 46, ../sass/smtemplates/colorswatches.scss */
.txt-links {
  color: #00858b; }

/* line 48, ../sass/smtemplates/colorswatches.scss */
.bg-hoverbg {
  background-color: #e5f4f3; }

/* line 49, ../sass/smtemplates/colorswatches.scss */
.brd-hoverbg {
  border-color: #e5f4f3; }

/* line 50, ../sass/smtemplates/colorswatches.scss */
.txt-hoverbg {
  color: #e5f4f3; }

/* line 52, ../sass/smtemplates/colorswatches.scss */
.bg-warning {
  background-color: red; }

/* line 53, ../sass/smtemplates/colorswatches.scss */
.brd-warning {
  border-color: red; }

/* line 54, ../sass/smtemplates/colorswatches.scss */
.txt-warning {
  color: red; }

/* line 56, ../sass/smtemplates/colorswatches.scss */
.bg-bgwarn {
  background-color: #ffcccc; }

/* line 57, ../sass/smtemplates/colorswatches.scss */
.brd-bgwarn {
  border-color: #ffcccc; }

/* line 58, ../sass/smtemplates/colorswatches.scss */
.txt-bgwarn {
  color: #ffcccc; }

/* line 60, ../sass/smtemplates/colorswatches.scss */
.bg-brdwarn {
  background-color: #cc6666; }

/* line 61, ../sass/smtemplates/colorswatches.scss */
.brd-brdwarn {
  border-color: #cc6666; }

/* line 62, ../sass/smtemplates/colorswatches.scss */
.txt-brdwarn {
  color: #cc6666; }

/* line 64, ../sass/smtemplates/colorswatches.scss */
.txt-ondark {
  color: white; }

/* line 69, ../sass/smtemplates/colorswatches.scss */
.grad-dark {
  background-color: #5e5e4e;
  background: -webkit-gradient(linear, left top, left bottom, from(#5e5e4e), to(#323227));
  background: -webkit-linear-gradient(top, #5e5e4e, #323227);
  background: -moz-linear-gradient(top, #5e5e4e, #323227);
  background: -ms-linear-gradient(top, #5e5e4e, #323227);
  background: -o-linear-gradient(top, #5e5e4e, #323227); }

/* line 72, ../sass/smtemplates/colorswatches.scss */
.grad-brand {
  background-color: #9cb221;
  background: -webkit-gradient(linear, left top, left bottom, from(#9cb221), to(#789628));
  background: -webkit-linear-gradient(top, #9cb221, #789628);
  background: -moz-linear-gradient(top, #9cb221, #789628);
  background: -ms-linear-gradient(top, #9cb221, #789628);
  background: -o-linear-gradient(top, #9cb221, #789628); }

/* line 75, ../sass/smtemplates/colorswatches.scss */
.grad-teal-dark {
  background-color: #3b9a97;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b9a97), to(#2c4f5d));
  background: -webkit-linear-gradient(top, #3b9a97, #2c4f5d);
  background: -moz-linear-gradient(top, #3b9a97, #2c4f5d);
  background: -ms-linear-gradient(top, #3b9a97, #2c4f5d);
  background: -o-linear-gradient(top, #3b9a97, #2c4f5d); }

/* line 78, ../sass/smtemplates/colorswatches.scss */
.grad-teal {
  background-color: #3b9a98;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b9a98), to(#15767b));
  background: -webkit-linear-gradient(top, #3b9a98, #15767b);
  background: -moz-linear-gradient(top, #3b9a98, #15767b);
  background: -ms-linear-gradient(top, #3b9a98, #15767b);
  background: -o-linear-gradient(top, #3b9a98, #15767b); }

/* line 81, ../sass/smtemplates/colorswatches.scss */
.grad-orange-dark {
  background-color: #ec6d12;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec6d12), to(#b71e20));
  background: -webkit-linear-gradient(top, #ec6d12, #b71e20);
  background: -moz-linear-gradient(top, #ec6d12, #b71e20);
  background: -ms-linear-gradient(top, #ec6d12, #b71e20);
  background: -o-linear-gradient(top, #ec6d12, #b71e20); }

/* line 84, ../sass/smtemplates/colorswatches.scss */
.grad-orange {
  background-color: #eca211;
  background: -webkit-gradient(linear, left top, left bottom, from(#eca211), to(#d26923));
  background: -webkit-linear-gradient(top, #eca211, #d26923);
  background: -moz-linear-gradient(top, #eca211, #d26923);
  background: -ms-linear-gradient(top, #eca211, #d26923);
  background: -o-linear-gradient(top, #eca211, #d26923); }

/* line 87, ../sass/smtemplates/colorswatches.scss */
.grad-yellow {
  background-color: #f1ee6a;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1ee6a), to(#e4ca32));
  background: -webkit-linear-gradient(top, #f1ee6a, #e4ca32);
  background: -moz-linear-gradient(top, #f1ee6a, #e4ca32);
  background: -ms-linear-gradient(top, #f1ee6a, #e4ca32);
  background: -o-linear-gradient(top, #f1ee6a, #e4ca32); }

/* line 4, ../sass/smtemplates/typography_revamp.scss */
body {
  font-family: Sans-Serif;
  font-size: 14px;
  line-height: 1.4; }

/* line 12, ../sass/smtemplates/typography_revamp.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0; }

/* line 17, ../sass/smtemplates/typography_revamp.scss */
h1, .h1 {
  font-size: 30px; }

/* line 20, ../sass/smtemplates/typography_revamp.scss */
h2, .h2 {
  font-size: 24px; }

/* line 23, ../sass/smtemplates/typography_revamp.scss */
h3, .h3 {
  font-size: 20px; }

/* line 26, ../sass/smtemplates/typography_revamp.scss */
h4, .h4 {
  font-size: 18px;
  margin: 0 0 10px 0; }

/* line 30, ../sass/smtemplates/typography_revamp.scss */
h5, .h5 {
  font-size: 16px;
  margin: 0 0 10px 0; }

/* line 34, ../sass/smtemplates/typography_revamp.scss */
h6, .h6 {
  font-size: 14px;
  margin: 0; }

/* line 38, ../sass/smtemplates/typography_revamp.scss */
.bar {
  background: #EAEADE;
  padding: 10px; }

/* line 44, ../sass/smtemplates/typography_revamp.scss */
p {
  margin: 0 0 20px 0; }

/* line 49, ../sass/smtemplates/typography_revamp.scss */
a {
  color: #00898B;
  text-decoration: none; }

/* line 53, ../sass/smtemplates/typography_revamp.scss */
a:hover {
  text-decoration: underline; }

/* line 57, ../sass/smtemplates/typography_revamp.scss */
a:focus {
  outline: thin dotted; }

/* line 62, ../sass/smtemplates/typography_revamp.scss */
a:hover, a:active {
  outline: 0; }

/* line 67, ../sass/smtemplates/typography_revamp.scss */
ul, ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px; }

/* line 71, ../sass/smtemplates/typography_revamp.scss */
ul, ul li {
  list-style: disc; }

/* line 74, ../sass/smtemplates/typography_revamp.scss */
ol, ol li {
  list-style: decimal; }

/* line 77, ../sass/smtemplates/typography_revamp.scss */
li {
  margin: 0 0 3px 0;
  padding: 0; }

/* line 82, ../sass/smtemplates/typography_revamp.scss */
form, fieldset {
  margin: 0;
  padding: 0; }

/* line 88, ../sass/smtemplates/typography_revamp.scss */
b, strong {
  font-weight: bold; }

/* line 92, ../sass/smtemplates/typography_revamp.scss */
blockquote {
  margin: 1em 40px; }

/* line 97, ../sass/smtemplates/typography_revamp.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 101, ../sass/smtemplates/typography_revamp.scss */
.sm-center-text {
  text-align: center; }

/* line 104, ../sass/smtemplates/typography_revamp.scss */
.sm-note {
  font-size: 11px; }

/* line 110, ../sass/smtemplates/typography_revamp.scss */
aside h3 {
  font-size: 14px; }
/* line 113, ../sass/smtemplates/typography_revamp.scss */
aside p, aside li {
  font-size: 12px; }

/* line 119, ../sass/smtemplates/typography_revamp.scss */
pre {
  background-color: #5e5e4e;
  background: -webkit-gradient(linear, left top, left bottom, from(#5e5e4e), to(#323227));
  background: -webkit-linear-gradient(top, #5e5e4e, #323227);
  background: -moz-linear-gradient(top, #5e5e4e, #323227);
  background: -ms-linear-gradient(top, #5e5e4e, #323227);
  background: -o-linear-gradient(top, #5e5e4e, #323227);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  font: 11px Monaco, MonoSpace;
  padding: 20px; }

/* line 4, ../sass/smtemplates/buttons.scss */
.btn {
  padding: 6px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 1px 0 #FFFFFF;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
  text-decoration: none !important;
  color: #333;
  display: inline-block;
  border: solid 1px #BBB;
  background-color: #f0f0ea;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0ea), to(#d5d7ce));
  background: -webkit-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -moz-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -ms-linear-gradient(top, #f0f0ea, #d5d7ce);
  background: -o-linear-gradient(top, #f0f0ea, #d5d7ce);
  position: relative; }

/* line 22, ../sass/smtemplates/buttons.scss */
.btn:not(.disabled):hover {
  z-index: 1;
  border: solid 1px #999;
  text-decoration: none;
  background-color: #f5f5ee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5ee), to(#dcded5));
  background: -webkit-linear-gradient(top, #f5f5ee, #dcded5);
  background: -moz-linear-gradient(top, #f5f5ee, #dcded5);
  background: -ms-linear-gradient(top, #f5f5ee, #dcded5);
  background: -o-linear-gradient(top, #f5f5ee, #dcded5); }

/* line 28, ../sass/smtemplates/buttons.scss */
.btn:not(.disabled):active, .btn:not(.disabled).open {
  border: solid 1px #999;
  background-color: #dcded5;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcded5), to(#f5f5ee));
  background: -webkit-linear-gradient(top, #dcded5, #f5f5ee);
  background: -moz-linear-gradient(top, #dcded5, #f5f5ee);
  background: -ms-linear-gradient(top, #dcded5, #f5f5ee);
  background: -o-linear-gradient(top, #dcded5, #f5f5ee); }

/* line 33, ../sass/smtemplates/buttons.scss */
.btn.open {
  outline: 0; }

/* line 37, ../sass/smtemplates/buttons.scss */
.ie7 .btn {
  display: inline;
  zoom: 1; }

/* line 42, ../sass/smtemplates/buttons.scss */
input.btn {
  font-family: Sans-Serif; }

/* line 49, ../sass/smtemplates/buttons.scss */
.btn-menu {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  white-space: nowrap; }

/* line 61, ../sass/smtemplates/buttons.scss */
.btn-menu .btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

/* line 66, ../sass/smtemplates/buttons.scss */
.btn-menu .btn-menu-right {
  margin-left: -1px;
  -webkit-top-left-border-radius: 0;
  -webkit-bottom-left-border-radius: 0;
  -moz-top-left-border-radius: 0;
  -moz-bottom-left-border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/* line 76, ../sass/smtemplates/buttons.scss */
.btn-menu .btn-menu-left {
  -webkit-top-right-border-radius: 0;
  -webkit-bottom-right-border-radius: 0;
  -moz-top-right-border-radius: 0;
  -moz-bottom-right-border-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

/* line 85, ../sass/smtemplates/buttons.scss */
.btn-menu .btn-menu-middle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: -1px; }

/* line 90, ../sass/smtemplates/buttons.scss */
.ie7 .btn-menu-arrow-left > span {
  height: 10px; }

/* line 93, ../sass/smtemplates/buttons.scss */
.ie7 .btn-menu-right {
  margin-left: 3px; }

/* line 96, ../sass/smtemplates/buttons.scss */
.ie7 .btn-menu-right:hover {
  margin-left: 2px; }

/* line 101, ../sass/smtemplates/buttons.scss */
.btn-arrow > span {
  background: url("../assets/sm_sprite_arrows.png") no-repeat scroll 0 -497px transparent;
  display: inline-block;
  height: 12px;
  width: 6px;
  zoom: 1;
  *display: inline; }

/* line 109, ../sass/smtemplates/buttons.scss */
.btn-arrow-right {
  padding-right: 10px; }

/* line 112, ../sass/smtemplates/buttons.scss */
.btn-arrow-right > span {
  margin-left: 6px; }

/* line 115, ../sass/smtemplates/buttons.scss */
.btn-arrow-left {
  padding-left: 10px; }

/* line 118, ../sass/smtemplates/buttons.scss */
.btn-arrow-left > span {
  margin-right: 6px; }

/* line 121, ../sass/smtemplates/buttons.scss */
.btn-small.btn-arrow-left {
  padding-left: 8px; }

/* line 124, ../sass/smtemplates/buttons.scss */
.btn-large.btn-arrow-right {
  padding-right: 9px;
  padding-left: 11px; }

/* line 128, ../sass/smtemplates/buttons.scss */
.btn-large.btn-arrow-left {
  padding-right: 11px;
  padding-left: 9px; }

/* line 134, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-horiz > span {
  height: 7px;
  width: 5px; }

/* line 138, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-vert > span {
  height: 5px;
  width: 7px; }

/* line 142, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-small-horiz > span {
  height: 10px; }

/* line 145, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-small-vert > span {
  height: 10px; }

/* line 148, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-right-light > span {
  background-position: 0 -180px; }

/* line 151, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-left-light > span {
  background-position: 0 -200px; }

/* line 154, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-up-light > span {
  background-position: 0 -220px; }

/* line 157, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-down-light > span {
  background-position: 0 -160px; }

/* line 160, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-right-medium > span {
  background-position: 0 -100px; }

/* line 163, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-left-medium > span {
  background-position: 0 -120px; }

/* line 166, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-up-medium > span {
  background-position: 0 -140px; }

/* line 169, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-down-medium > span {
  background-position: 0 -80px; }

/* line 172, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-right-dark > span {
  background-position: 0 -20px; }

/* line 175, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-left-dark > span {
  background-position: 0 -40px; }

/* line 178, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-up-dark > span {
  background-position: 0 -60px; }

/* line 181, ../sass/smtemplates/buttons.scss */
.btn-arrow-small-down-dark > span {
  background-position: 0 0; }

/* line 186, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-horiz > span {
  height: 8px;
  width: 6px; }

/* line 190, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-standard-horiz > span {
  height: 11px; }

/* line 193, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-vert > span {
  height: 6px;
  width: 12px; }

/* line 197, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-standard-vert > span {
  height: 10px;
  width: 10px; }

/* line 201, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-right-light > span {
  background-position: 0 -420px; }

/* line 204, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-left-light > span {
  background-position: 0 -440px; }

/* line 207, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-up-light > span {
  background-position: 0 -460px; }

/* line 210, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-down-light > span {
  background-position: 0 -400px; }

/* line 213, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-right-medium > span {
  background-position: 0 -340px; }

/* line 216, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-left-medium > span {
  background-position: 0 -360px; }

/* line 219, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-up-medium > span {
  background-position: 0 -380px; }

/* line 222, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-down-medium > span {
  background-position: 0 -320px; }

/* line 225, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-right-dark > span {
  background-position: 0 -260px; }

/* line 228, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-left-dark > span {
  background-position: 0 -280px; }

/* line 231, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-up-dark > span {
  background-position: 0 -300px; }

/* line 234, ../sass/smtemplates/buttons.scss */
.btn-arrow-standard-down-dark > span {
  background-position: 0 -240px; }

/* line 239, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-horiz > span {
  height: 9px;
  width: 6px; }

/* line 243, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-vert > span {
  height: 7px;
  width: 12px; }

/* line 247, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-large-horiz > span {
  height: 12px; }

/* line 250, ../sass/smtemplates/buttons.scss */
.ie7 .btn-arrow-large-vert > span {
  height: 10px; }

/* line 253, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-right-light > span {
  background-position: 0 -420px; }

/* line 256, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-left-light > span {
  background-position: 0 -440px; }

/* line 259, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-up-light > span {
  background-position: 0 -460px; }

/* line 262, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-down-light > span {
  background-position: 0 -400px; }

/* line 265, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-right-medium > span {
  background-position: 0 -580px; }

/* line 268, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-left-medium > span {
  background-position: 0 -600px; }

/* line 271, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-up-medium > span {
  background-position: 0 -620px; }

/* line 274, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-down-medium > span {
  background-position: 0 -560px; }

/* line 277, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-right-dark > span {
  background-position: 0 -500px; }

/* line 280, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-left-dark > span {
  background-position: 0 -520px; }

/* line 283, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-up-dark > span {
  background-position: 0 -540px; }

/* line 286, ../sass/smtemplates/buttons.scss */
.btn-arrow-large-down-dark > span {
  background-position: 0 -480px; }

/* line 289, ../sass/smtemplates/buttons.scss */
.btn-only-arrow {
  padding-left: 11px;
  padding-right: 7px; }

/* line 293, ../sass/smtemplates/buttons.scss */
.btn-small.btn-only-arrow {
  padding-right: 5px;
  padding-bottom: 1px; }

/* line 299, ../sass/smtemplates/buttons.scss */
.teal {
  color: white;
  border-color: #049795;
  text-shadow: 0 -1px 0 #444444;
  background-color: #35c0c0;
  background: -webkit-gradient(linear, left top, left bottom, from(#35c0c0), to(#049795));
  background: -webkit-linear-gradient(top, #35c0c0, #049795);
  background: -moz-linear-gradient(top, #35c0c0, #049795);
  background: -ms-linear-gradient(top, #35c0c0, #049795);
  background: -o-linear-gradient(top, #35c0c0, #049795); }

/* line 305, ../sass/smtemplates/buttons.scss */
.teal:not(.disabled):hover {
  background-color: #42cbcc;
  background: -webkit-gradient(linear, left top, left bottom, from(#42cbcc), to(#14a4a3));
  background: -webkit-linear-gradient(top, #42cbcc, #14a4a3);
  background: -moz-linear-gradient(top, #42cbcc, #14a4a3);
  background: -ms-linear-gradient(top, #42cbcc, #14a4a3);
  background: -o-linear-gradient(top, #42cbcc, #14a4a3); }

/* line 308, ../sass/smtemplates/buttons.scss */
.teal:not(.disabled):active, .teal:not(.disabled).open {
  background-color: #14a4a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#14a4a3), to(#42cbcc));
  background: -webkit-linear-gradient(top, #14a4a3, #42cbcc);
  background: -moz-linear-gradient(top, #14a4a3, #42cbcc);
  background: -ms-linear-gradient(top, #14a4a3, #42cbcc);
  background: -o-linear-gradient(top, #14a4a3, #42cbcc); }

/* line 312, ../sass/smtemplates/buttons.scss */
.dark-grey {
  color: white;
  border-color: #666666;
  text-shadow: 0 -1px 0 #444444;
  background-color: #989898;
  background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#666666));
  background: -webkit-linear-gradient(top, #989898, #666666);
  background: -moz-linear-gradient(top, #989898, #666666);
  background: -ms-linear-gradient(top, #989898, #666666);
  background: -o-linear-gradient(top, #989898, #666666); }

/* line 318, ../sass/smtemplates/buttons.scss */
.dark-grey:not(.disabled):hover {
  background-color: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#787878));
  background: -webkit-linear-gradient(top, #a4a4a4, #787878);
  background: -moz-linear-gradient(top, #a4a4a4, #787878);
  background: -ms-linear-gradient(top, #a4a4a4, #787878);
  background: -o-linear-gradient(top, #a4a4a4, #787878); }

/* line 321, ../sass/smtemplates/buttons.scss */
.dark-grey:not(.disabled):active, .dark-grey:not(.disabled).open {
  background-color: #787878;
  background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#a4a4a4));
  background: -webkit-linear-gradient(top, #787878, #a4a4a4);
  background: -moz-linear-gradient(top, #787878, #a4a4a4);
  background: -ms-linear-gradient(top, #787878, #a4a4a4);
  background: -o-linear-gradient(top, #787878, #a4a4a4); }

/* line 325, ../sass/smtemplates/buttons.scss */
.yellow {
  border: solid 1px #DFC235;
  text-shadow: 0 1px 0 #FCFC85;
  background-color: #f8f777;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f777), to(#dfc235));
  background: -webkit-linear-gradient(top, #f8f777, #dfc235);
  background: -moz-linear-gradient(top, #f8f777, #dfc235);
  background: -ms-linear-gradient(top, #f8f777, #dfc235);
  background: -o-linear-gradient(top, #f8f777, #dfc235); }

/* line 330, ../sass/smtemplates/buttons.scss */
.yellow:not(.disabled):hover {
  border: solid 1px #999;
  background-color: #fcfc85;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfc85), to(#edce38));
  background: -webkit-linear-gradient(top, #fcfc85, #edce38);
  background: -moz-linear-gradient(top, #fcfc85, #edce38);
  background: -ms-linear-gradient(top, #fcfc85, #edce38);
  background: -o-linear-gradient(top, #fcfc85, #edce38); }

/* line 334, ../sass/smtemplates/buttons.scss */
.yellow:not(.disabled):active, .yellow:not(.disabled).open {
  background-color: #f7e258;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7e258), to(#faf476));
  background: -webkit-linear-gradient(top, #f7e258, #faf476);
  background: -moz-linear-gradient(top, #f7e258, #faf476);
  background: -ms-linear-gradient(top, #f7e258, #faf476);
  background: -o-linear-gradient(top, #f7e258, #faf476); }

/* line 338, ../sass/smtemplates/buttons.scss */
.green {
  color: white;
  border-color: #799334;
  text-shadow: 0 -1px 0 #677e2c;
  background-color: #adc93f;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc93f), to(#799334));
  background: -webkit-linear-gradient(top, #adc93f, #799334);
  background: -moz-linear-gradient(top, #adc93f, #799334);
  background: -ms-linear-gradient(top, #adc93f, #799334);
  background: -o-linear-gradient(top, #adc93f, #799334); }

/* line 344, ../sass/smtemplates/buttons.scss */
.green:not(.disabled):hover {
  background-color: #b4d141;
  background: -webkit-gradient(linear, left top, left bottom, from(#b4d141), to(#819d37));
  background: -webkit-linear-gradient(top, #b4d141, #819d37);
  background: -moz-linear-gradient(top, #b4d141, #819d37);
  background: -ms-linear-gradient(top, #b4d141, #819d37);
  background: -o-linear-gradient(top, #b4d141, #819d37); }

/* line 347, ../sass/smtemplates/buttons.scss */
.green:not(.disabled):active, .green:not(.disabled).open {
  background-color: #819d37;
  background: -webkit-gradient(linear, left top, left bottom, from(#819d37), to(#b4d141));
  background: -webkit-linear-gradient(top, #819d37, #b4d141);
  background: -moz-linear-gradient(top, #819d37, #b4d141);
  background: -ms-linear-gradient(top, #819d37, #b4d141);
  background: -o-linear-gradient(top, #819d37, #b4d141); }

/* line 351, ../sass/smtemplates/buttons.scss */
.red {
  color: white;
  border-color: #900;
  text-shadow: 0 -1px 0 #677e2c;
  background-color: #ff3300;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff3300), to(#990000));
  background: -webkit-linear-gradient(top, #ff3300, #990000);
  background: -moz-linear-gradient(top, #ff3300, #990000);
  background: -ms-linear-gradient(top, #ff3300, #990000);
  background: -o-linear-gradient(top, #ff3300, #990000); }

/* line 357, ../sass/smtemplates/buttons.scss */
.red:not(.disabled):hover {
  background-color: #ff6753;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6753), to(#990000));
  background: -webkit-linear-gradient(top, #ff6753, #990000);
  background: -moz-linear-gradient(top, #ff6753, #990000);
  background: -ms-linear-gradient(top, #ff6753, #990000);
  background: -o-linear-gradient(top, #ff6753, #990000); }

/* line 360, ../sass/smtemplates/buttons.scss */
.red:not(.disabled):active, .red:not(.disabled).open {
  background-color: #990000;
  background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#ff6753));
  background: -webkit-linear-gradient(top, #990000, #ff6753);
  background: -moz-linear-gradient(top, #990000, #ff6753);
  background: -ms-linear-gradient(top, #990000, #ff6753);
  background: -o-linear-gradient(top, #990000, #ff6753);
  background-color: #819d37; }

/* line 365, ../sass/smtemplates/buttons.scss */
.green.btn, .red.btn,
.teal.btn, .dark-grey.btn {
  color: #fff; }

/* line 370, ../sass/smtemplates/buttons.scss */
.btn-small {
  font-size: 11px;
  padding: 3px 9px; }

/* line 374, ../sass/smtemplates/buttons.scss */
.btn-large {
  font-size: 14px;
  padding: 9px 18px; }

/* line 378, ../sass/smtemplates/buttons.scss */
.no-emphasize {
  font-weight: normal; }

/* line 381, ../sass/smtemplates/buttons.scss */
.no-border, .no-border:hover {
  border: 0 !important; }

/* line 384, ../sass/smtemplates/buttons.scss */
.shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25); }

/* line 6, ../sass/style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../sass/style.sass */
html {
  background: url(../images/noise.jpg);
  overflow-y: scroll; }

/* line 13, ../sass/style.sass */
body {
  color: white; }
  /* line 16, ../sass/style.sass */
  body nav {
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 0 10%; }
    /* line 20, ../sass/style.sass */
    body nav a {
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      font-weight: 700;
      display: inline-block;
      padding: 15px 8px 10px 0; }
      /* line 26, ../sass/style.sass */
      body nav a:after {
        content: " → ";
        margin: 0 0 0 4px;
        position: relative;
        top: 1px; }
      /* line 31, ../sass/style.sass */
      body nav a:last-child:after {
        display: none; }
  /* line 34, ../sass/style.sass */
  body > header {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    padding: 20px 10%;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }
    /* line 40, ../sass/style.sass */
    body > header h1 {
      font: 0/0 a;
      margin: 0;
      width: 274px;
      height: 51px;
      background: url(../images/logo.png); }

/* line 49, ../sass/style.sass */
.page-wrap {
  padding: 40px 10%; }

/* line 52, ../sass/style.sass */
a {
  text-decoration: none; }
  /* line 54, ../sass/style.sass */
  a:hover {
    text-decoration: none; }

/* line 60, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  line-height: 1.1; }

/* line 68, ../sass/style.sass */
.main-mod ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 72, ../sass/style.sass */
  .main-mod ul li {
    margin: 0 0 10px 0;
    list-style: none; }
    /* line 75, ../sass/style.sass */
    .main-mod ul li a {
      color: white;
      padding: 10px;
      display: block;
      -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
      -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
      background: rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
      /* line 82, ../sass/style.sass */
      .main-mod ul li a:hover {
        background: rgba(0, 0, 0, 0.75); }
    /* line 84, ../sass/style.sass */
    .main-mod ul li strong {
      position: relative;
      top: 1px; }
/* line 88, ../sass/style.sass */
.main-mod h2 {
  color: #bada55; }

/* line 91, ../sass/style.sass */
.odd {
  background: #f2f2f2; }

/* line 93, ../sass/style.sass */
tr:hover {
  background: #eeeeee; }

/* line 95, ../sass/style.sass */
tr.odd:hover {
  background: #cccccc; }

/* line 98, ../sass/style.sass */
[class^=status] {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 7px 0 0;
  font: 0/0 a; }

/* line 106, ../sass/style.sass */
.status-tagged {
  background: #00a5eb;
  box-shadow: inset 0 5px 5px #00d0eb, 0 0 20px 2px #00d0eb, 0 0 2px 1px black; }

/* line 109, ../sass/style.sass */
.status-unknown {
  background: #b0a5aa;
  box-shadow: inset 0 5px 5px #b0a5aa, 0 0 20px 2px #b0a5aa, 0 0 2px 1px black; }

/* line 112, ../sass/style.sass */
.status-unchanged {
  background: #d8eb00;
  box-shadow: inset 0 5px 5px #adf000, 0 0 20px 2px #adf000, 0 0 2px 1px black; }

/* line 115, ../sass/style.sass */
.status-changed {
  background: #ff6000;
  box-shadow: inset 0 5px 5px #ffb85b, 0 0 20px 2px #ffb85b, 0 0 2px 1px black; }

/* line 118, ../sass/style.sass */
.status-error {
  background: red;
  box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px black;
  -webkit-animation: pulse 0.7s infinite alternate;
  -moz-animation: pulse 0.7s infinite alternate; }

@-webkit-keyframes pulse {
  /* line 125, ../sass/style.sass */
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px black; }

  /* line 128, ../sass/style.sass */
  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px black; } }

@-moz-keyframes pulse {
  /* line 133, ../sass/style.sass */
  0% {
    background: #ff3232;
    box-shadow: inset 0 5px 5px #ff7878, 0 0 20px 2px #ff7878, 0 0 2px 1px black; }

  /* line 136, ../sass/style.sass */
  100% {
    background: #ba0000;
    box-shadow: inset 0 10px 10px #ff7878, 0 0 30px 5px #ff7878, 0 0 2px 1px black; } }

/* line 6, ../sass/smtemplates/tables.scss */
table {
  width: 100%;
  margin: 0 0 20px 0;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-collapse: separate;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: white; }

/* line 16, ../sass/smtemplates/tables.scss */
td, th {
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #ddd; }

/* line 21, ../sass/smtemplates/tables.scss */
th {
  text-align: left; }

/* line 24, ../sass/smtemplates/tables.scss */
tbody tr:last-child > td, tbody tr:last-child > th {
  border: 0; }

/* line 27, ../sass/smtemplates/tables.scss */
thead th {
  border-bottom: 1px solid #ddd;
  vertical-align: bottom; }

/* line 31, ../sass/smtemplates/tables.scss */
caption {
  text-align: left;
  padding-left: 10px; }

/* line 35, ../sass/smtemplates/tables.scss */
caption span {
  display: inline-block;
  background: #ddd;
  color: black;
  padding: 4px 10px 3px;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

/* line 44, ../sass/smtemplates/tables.scss */
table.zebra tbody tr:nth-child(odd) {
  background: #F9F9F9; }

/* line 47, ../sass/smtemplates/tables.scss */
table.row-highlighting tbody tr:hover {
  background: #eee; }

/* line 50, ../sass/smtemplates/tables.scss */
table.center-cells td, table.center-cells th {
  text-align: center; }

/* line 55, ../sass/smtemplates/tables.scss */
.equal td {
  width: 9999px; }

/* line 58, ../sass/smtemplates/tables.scss */
.vtop td {
  vertical-align: top; }

/* line 61, ../sass/smtemplates/tables.scss */
.narrow {
  width: 1px; }

/* line 65, ../sass/smtemplates/tables.scss */
.small td, .small th {
  font-size: 12px;
  padding: 6px; }

/* line 70, ../sass/smtemplates/tables.scss */
.nostyle {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  /* line 73, ../sass/smtemplates/tables.scss */
  .nostyle td:not(:last-child) {
    padding-right: 20px; }

/* line 79, ../sass/smtemplates/tables.scss */
.selling-points-box {
  width: 424px;
  margin: 40px 20px 40px 0;
  float: left;
  clear: left; }

/* line 85, ../sass/smtemplates/tables.scss */
.selling-point {
  width: 165px;
  float: left;
  padding: 15px 0 5px 45px;
  background: url(../assets/checkmark-large-green.png) no-repeat 12px 12px; }

/* line 91, ../sass/smtemplates/tables.scss */
.selling-point1, .selling-point2 {
  border-bottom: dotted #999999 1px; }

/* line 94, ../sass/smtemplates/tables.scss */
.selling-point1, .selling-point3 {
  border-right: dotted #999999 1px; }

/* line 97, ../sass/smtemplates/tables.scss */
.selling-points-box .number {
  font-size: 30px;
  line-height: 22px;
  font-weight: bold;
  color: #333; }

/* line 103, ../sass/smtemplates/tables.scss */
.selling-points-box .desc {
  font-size: 14px;
  color: #666; }

/* line 3, ../sass/smtemplates/accordions.scss */
.accordion > div.key {
  background: #8A867A;
  border-bottom: 1px solid #C2C1BB; }
  /* line 6, ../sass/smtemplates/accordions.scss */
  .accordion > div.key:first-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  /* line 9, ../sass/smtemplates/accordions.scss */
  .accordion > div.key:last-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 0; }
  /* line 13, ../sass/smtemplates/accordions.scss */
  .accordion > div.key:hover {
    background: #9D9B8F; }

/* line 18, ../sass/smtemplates/accordions.scss */
.accordion > div.key > header {
  position: relative; }
  /* line 20, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > header h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 0; }
    /* line 24, ../sass/smtemplates/accordions.scss */
    .accordion > div.key > header h3 a {
      display: block;
      padding: 11px 11px 11px 28px;
      color: #fff;
      text-transform: uppercase;
      outline: 0; }
      /* line 30, ../sass/smtemplates/accordions.scss */
      .accordion > div.key > header h3 a:hover {
        text-decoration: none; }
    /* line 34, ../sass/smtemplates/accordions.scss */
    .ie7 .accordion > div.key > header h3 a {
      position: relative; }
  /* line 38, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > header > span {
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    display: block;
    top: 13px;
    left: 9px;
    color: #fff; }
  /* line 48, ../sass/smtemplates/accordions.scss */
  .ie7 .accordion > div.key > header > span {
    top: 12px; }
  /* line 52, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > header .q {
    position: absolute;
    display: block;
    right: 1em;
    top: 1em; }

/* line 60, ../sass/smtemplates/accordions.scss */
.accordion > div.key > section {
  color: white;
  overflow-y: auto;
  padding: 0 10px;
  height: 0; }
  /* line 66, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > section::-webkit-scrollbar {
    width: 8px; }
  /* line 70, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px; }
  /* line 76, ../sass/smtemplates/accordions.scss */
  .accordion > div.key > section::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background: #333; }
  /* line 82, ../sass/smtemplates/accordions.scss */
  .ie7 .accordion > div.key > section {
    position: relative;
    overflow-x: hidden; }

/* line 88, ../sass/smtemplates/accordions.scss */
.accordion > div.open {
  background: #9D9B8F;
  padding-bottom: 10px; }
  /* line 91, ../sass/smtemplates/accordions.scss */
  .accordion > div.open > header > span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg); }
  /* line 94, ../sass/smtemplates/accordions.scss */
  .ie7 .accordion > div.open > header > span {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
  /* line 97, ../sass/smtemplates/accordions.scss */
  .ie8 .accordion > div.open > header > span {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

/* line 102, ../sass/smtemplates/accordions.scss */
.accordion span.accordion-arrow.open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }
  /* line 105, ../sass/smtemplates/accordions.scss */
  .ie7 .accordion span.accordion-arrow.open {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
  /* line 109, ../sass/smtemplates/accordions.scss */
  .ie8 .accordion span.accordion-arrow.open {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

/* line 115, ../sass/smtemplates/accordions.scss */
.accordion > div.open > section {
  height: auto; }

/* line 120, ../sass/smtemplates/accordions.scss */
.accordion.light > div.key {
  background: #EAEAE8; }
  /* line 122, ../sass/smtemplates/accordions.scss */
  .accordion.light > div.key:hover {
    background: #F2F2F0; }
  /* line 125, ../sass/smtemplates/accordions.scss */
  .accordion.light > div.key.open {
    background: #F2F2F0; }
  /* line 128, ../sass/smtemplates/accordions.scss */
  .accordion.light > div.key > header > span {
    color: #a4a4a4; }
  /* line 131, ../sass/smtemplates/accordions.scss */
  .accordion.light > div.key > header > h3 a {
    color: #333; }
  /* line 134, ../sass/smtemplates/accordions.scss */
  .accordion.light > div.key > section {
    color: #333; }

/* line 145, ../sass/style.sass */
.accordion {
  margin: 0 0 25px 0; }
  /* line 147, ../sass/style.sass */
  .accordion > div.key, .accordion > div.key:first-child, .accordion > div.key:last-child, .accordion div.key.open {
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    /* line 155, ../sass/style.sass */
    .accordion > div.key:not(.open):hover, .accordion > div.key:first-child:not(.open):hover, .accordion > div.key:last-child:not(.open):hover, .accordion div.key.open:not(.open):hover {
      background: rgba(0, 0, 0, 0.8); }
    /* line 158, ../sass/style.sass */
    .accordion > div.key > header > a, .accordion > div.key:first-child > header > a, .accordion > div.key:last-child > header > a, .accordion div.key.open > header > a {
      position: absolute;
      right: 10px;
      top: 7px; }
      /* line 162, ../sass/style.sass */
      .accordion > div.key > header > a:hover, .accordion > div.key:first-child > header > a:hover, .accordion > div.key:last-child > header > a:hover, .accordion div.key.open > header > a:hover {
        color: white; }
    /* line 164, ../sass/style.sass */
    .accordion > div.key > header h3 strong, .accordion > div.key:first-child > header h3 strong, .accordion > div.key:last-child > header h3 strong, .accordion div.key.open > header h3 strong {
      text-transform: none;
      font-weight: 400;
      font-size: 12px;
      margin-left: 10px; }
    /* line 169, ../sass/style.sass */
    .accordion > div.key > header h3 a, .accordion > div.key:first-child > header h3 a, .accordion > div.key:last-child > header h3 a, .accordion div.key.open > header h3 a {
      padding-left: 40px; }
    /* line 171, ../sass/style.sass */
    .accordion > div.key > header h3 em, .accordion > div.key:first-child > header h3 em, .accordion > div.key:last-child > header h3 em, .accordion div.key.open > header h3 em {
      position: absolute;
      top: 12px;
      right: 80px; }
    /* line 175, ../sass/style.sass */
    .accordion > div.key > header:hover h3 em, .accordion > div.key:first-child > header:hover h3 em, .accordion > div.key:last-child > header:hover h3 em, .accordion div.key.open > header:hover h3 em {
      color: white; }
    /* line 177, ../sass/style.sass */
    .accordion > div.key > header > a, .accordion > div.key > header h3 em, .accordion > div.key:first-child > header > a, .accordion > div.key:first-child > header h3 em, .accordion > div.key:last-child > header > a, .accordion > div.key:last-child > header h3 em, .accordion div.key.open > header > a, .accordion div.key.open > header h3 em {
      font-weight: 400;
      font-size: 12px;
      text-transform: none;
      font-style: normal;
      color: #999999; }
    /* line 183, ../sass/style.sass */
    .accordion > div.key > header > span, .accordion > div.key:first-child > header > span, .accordion > div.key:last-child > header > span, .accordion div.key.open > header > span {
      width: 20px;
      height: 20px;
      top: 9px;
      left: 9px; }
  /* line 188, ../sass/style.sass */
  .accordion > div > section > form {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    /* line 193, ../sass/style.sass */
    .accordion > div > section > form > div {
      margin: 0 0 10px 0;
      clear: both; }
      /* line 196, ../sass/style.sass */
      .accordion > div > section > form > div:last-child {
        margin-bottom: 0; }
    /* line 198, ../sass/style.sass */
    .accordion > div > section > form label {
      float: left;
      width: 17%; }
    /* line 201, ../sass/style.sass */
    .accordion > div > section > form input[type=text] {
      width: 240px; }
    /* line 203, ../sass/style.sass */
    .accordion > div > section > form textarea {
      width: 60%; }

/* line 207, ../sass/style.sass */
.deployment input {
  margin: 0 0 5px 0; }
/* line 209, ../sass/style.sass */
.deployment input:disabled {
  opacity: 0.3; }

/* line 212, ../sass/style.sass */
.icon {
  font-size: 21px;
  vertical-align: middle;
  color: white;
  top: -2px;
  position: relative;
  margin-right: 2px; }
  /* line 219, ../sass/style.sass */
  .icon.icon-warning {
    color: yellow; }

/* line 223, ../sass/style.sass */
.stat-tagged > header h3 strong {
  color: #c0e9fa; }

/* line 226, ../sass/style.sass */
.stat-unknown > header h3 strong {
  color: #ccc0c5; }

/* line 229, ../sass/style.sass */
.stat-changed > header h3 strong {
  color: #ffa21c; }

/* line 233, ../sass/style.sass */
.stat-error > header h3 strong {
  color: #ff4646; }

/* line 236, ../sass/style.sass */
table {
  color: black; }

/* line 239, ../sass/style.sass */
.hide {
  display: none !important; }
