{% extends 'base.html' %}
{% block nav %}
<nav>
<a href="/">Home</a>
<a href="/sites">Sites</a>
<a href="/sites/{{ site.name_url }}">{{ site.name }}</a>
<a href="/sites/{{ site.name_url }}/{{ app.name_url }}">{{ app.name }}</a>
</nav>
{% endblock %}
{% block content %}
<div class="page-wrap">
    <h2>Details for <span>{{ app.name }}</span></h2>
    <table>
        <tr class="odd">
            <td><strong>Name</strong></td>
            <td>{{ app.name }}</td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td>{{ app.status|get_pretty_status }}</td>
        </tr>
        <tr class="odd">
            <td style="vertical-align: top;"><strong>Notes</strong></td>
            <td>
                <a id="add-note-link" href="#">Add a Note</a>
                <div id="add-note-div" class="hide">
                <form action="/sites/{{ site.name_url }}/{{ app.name_url }}" enctype="multipart/form-data" method="post">
                <textarea name="note" class="commit" style="width: 100%" 
                cols="20" rows="5" placeholder="He listens well who takes notes."></textarea>
                <br /><br />
                <input class="btn" type="submit" value="Add Note" />
                </form>
                </div>
                <!-- alextodo style and get rid of <br/> -->
                <br /><br />
                <div>
                    {% if app.notes|length > 0 %}
                    <strong>Existing notes</strong>

                    <table>
                    {% for date, text in app.notes.iteritems()|sort(reverse=True) %}
                    <tr>
                      <td>{{ date|datetime }}</td>
                      <td>{{ text }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% else %}
                  <strong>No notes exist for {{ app.name }}</strong>
                  {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td><strong>Last Tag</strong></td>
            <td>{{ app.last_tag_app }}</td>
        </tr>
        <tr class="odd">
            <td><strong>Last Tag Message</strong></td>
            <td>{{ app.last_tag_message }}</td>
        </tr>
        <tr>
            <td><strong>Compare View</strong></td>
            <td><a href="{{ app.get_compare_url() }}" target="_blank">{{ app.get_compare_url() }}</a></td>
        </tr>
        {% if app.changed_files|length > 0 and app.status == 'uncommitted_changes' %}
        <tr class="odd">
            <th style="vertical-align: top;">
                Changed Files
            </th>
            <td>
                <table>
                {% for changed_file in app.changed_files|sort %}
                <tr>
                  <td>{{ changed_file }}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th style="vertical-align: top;">
                Packages
            </th>
            <!-- create four columns per row -->
            <td valign="top" align="left">
              <table>
                {% set count = 1 %}
                
                {% for pack in app.packages|sort(attribute='name') %}
                {% if count == 1 %}
                <tr>
                {% endif %}

                  <td><strong>{{ pack.name }}</strong> {{ pack.version }}</td>

                {% if count == 3 %}
                </tr>
                {% endif %}

                {% if count == 3 %}{% set count = 1 %}{% else %}{% set count = count + 1 %}{% endif %}

                {% endfor %}
              </table>
            </td>
        </tr>
    </table>
</div>
{{ [
'/js/libs/global-min.js',
'/js/libs/global-pro-min.js',
'/js/libs/site-tabs.js',
'/js/application/application.js'
]|js_script|safe }}
{% endblock %}