<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>

  <!-- styles -->
  <link href="./css/bootstrap.css" type="text/css" rel="stylesheet">
  
  <link href="./css/base.css" type="text/css" rel="stylesheet">
  <link href="./css/doula.css" type="text/css" rel="stylesheet">
</head>

  <body>
    <div id="container">
        <div id="header">
    <div class="navbar">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a> 
            <a class="brand" href="home.html">Doula</a>
        </div><!-- /container -->
    </div><!-- /navbar-inner -->
    
    <ul class="breadcrumb">
        <li>
            <a href="home.html">All Sites</a> 
        </li>
        <li>
            <span class="divider">&gt;</span>
            <a href="mt1.html">Monkey Test Uno</a>
        </li>
        
        <li>
            <span class="divider">&gt;</span>
            <a href="details.html">Anonweb</a>
        </li>
        
    </ul>
    
    </div>
</div>
        
        <div id="content">
        
    <h2>Anonweb</h2>
    <!-- 
    <div>
        should be similarly organized like the previous details. Basically this is an expanded view of all the details.
        You can view a lot more details about the packaging and what not but still very similar to prev.
    </div>
    <div>
        Take a look at stallion.
    </div>
    -->
    <table class="table table-striped">
        <tr>
            <td><strong>Name</strong></td>
            <td>Anonweb</td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td>change_to_app_env</td>
        </tr>
        <tr>
            <td><strong>Last Tag</strong></td>
            <td>2.0.1rc</td>
        </tr>
        <tr>
            <td>
                Packages
            </td>
            <td>
            
                <p>
                libxml-1.0.1
                </p>
            
                <p>
                pyramid-1.3.5
                </p>
            
            </td>
        </tr>
    </table>

        </div>
        
        <footer>
    <div id="progress">
    </div>
    <div class="header">
        <h6>Doula, it's like a bagel without the hole.</h6>
    </div>
</footer>
    </div>
    <!-- /container -->
    
    <!-- scripts -->
    
    <script type="text/javascript" src="/js/lib/jquery.js"></script>


  </body>
</html>