{% extends 'base.html' %}
{% block nav %}
<nav>
    <a href="/sites">Home</a>
</nav>
{% endblock %}
{% block content %}
<div class="page-wrap">
<div class="main-mod">
  <h2>Sites</h2>
  
  <ul>
  {% if sites|length > 0 %}
  {% for site in sites %}
    <li>
        <a href="/sites/{{ site.name_url }}">
        <span class="{{ site.get_status()|get_status_class }}"></span>
        <strong>{{ site.name }}</strong>
        </a>
    </li>
  {% endfor %}
  {% else %}
    <li>
      <h3>No sites registered</h3>
    </li>
  {% endif %}
  </ul>
</div>

</div>
{{ [
'/js/libs/global-min.js', 
'/js/libs/global-pro-min.js', 
'/js/libs/site-tabs.js',
'/js/home/home.js'
]|js_script|safe }}
{% endblock %}