<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header>

    <h1>
      Doula
    </h1>
    
  </header>

  <nav>
    <a href="index.html">Home</a>
  </nav>

  <div class="page-wrap">

    <div class="main-mod">
      <h2>Sites</h2>
      
      <ul>
        <li><a href="monkey-test-uno.html"><span class="status-A"></span> <strong>Monkey Test Uno</strong></a></li>
        <li><a href="#"><span class="status-B"></span> <strong>Monkey Test Dos</strong></a></li>
        <li><a href="#"><span class="status-C"></span> <strong>Monkey Test Tres</strong></a></li>
        
        {% for user in users %}
          <li><a href="{{ user.url }}">{{ user.username }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
   
</body>

</html>