<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header>
    <h1>
      Doula
    </h1>
  </header>

  <nav>
    <a href="/sites">Home</a>
  </nav>

  <div class="page-wrap">

    <div class="main-mod">
      <h2>Sites</h2>
      
      <ul>
      {% for site in sites %}
        {% if site.get_status() == 'unchanged' %}
            {% set status_class = 'status-unchanged' %}
        {% elif site.get_status() == 'uncommitted_changes' %}
            {% set status_class = 'status-error' %}
        {% else %}
            {% set status_class = 'status-changed' %}
        {% endif %}
        <li>
            <a href="/sites/{{ site.name }}/">
            <span class="{{ status_class }}"></span>
            <strong>{{ site.name }}</strong>
            </a>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>
   
</body>

</html>