<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Doula Web | Site | Monkey Test Uno</title>

  <!-- styles -->
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  <header>

    <h1>
      Doula
    </h1>
    
  </header>

  <nav>
    <a href="index.html">Home</a>
    <a href="index.html">Sites</a>
    <a href="monkey-test-uno.html">Monkey Test Uno</a>
  </nav>

  <div class="page-wrap">

    <h1>Monkey Test Uno</h1>

     <div id="accordion" class="accordion">

       <div class="stat-C">

         <header>
            <span class="status-C">&#x25BA;</span>
            <h3>
              <a href="#panel1" class="key">Anonweb</a>
              <strong>Changes to Application Environment</strong>
            </h3>
         </header>

         <section id="panel1">

            <form method="post" action="#">

              <div>
                <label>Tag:</label>

                <input type="text" class="span3" required="required" pattern="\d+\.\d+\.\d+(a|b|c|rc)?" placeholder="Enter a valid git tag. Format 0.1.1(a|b|c|rc)">
                <span class="instruct">Last tag: <strong>0.2.0a1</strong></span>
              </div>

              <div>
                <label>Commit Message:</label>
                <textarea class="commit" id="textarea" cols="40" rows="10" required placeholder="Don’t make something unless it is both necessary and useful; but if it is both necessary and useful, don’t hesitate to make it beautiful."></textarea>
              </div>
              
              <div>
                <label>&nbsp;</label>
                <input class="btn" type="submit" value="Commit">
              </div>

          </form>

         </section>

       </div><!-- End First Key -->

       <div class="stat-B">

         <header>
            <span class="status-B">&#x25BA;</span>
            <h3>
              <a href="#panel2" class="key">Create Web</a>
              <strong>Changes to Configuration</strong>
            </h3>
         </header>

         <section id="panel2">

            <form method="post" action="#">

              <div>
                <label>Tag for <strong>Create Web</strong>:</label>

                <input type="text" class="span3" required="required" pattern="\d+\.\d+\.\d+(a|b|c|rc)?" title="Enter a valid git tag. Format 0.1.1(a|b|c|rc)" placeholder="Enter tag…">
                <span class="instruct">Last tag: <strong>0.8.0a</strong></span>
              </div>
              
              <div>
                <label>Commit Message:</label>
                <textarea class="commit" id="textarea" cols="40" rows="10" required="required" title="You'll have to enter a valid commit message to tag this application."></textarea>
              </div>
              
              <div>
                <label>&nbsp;</label>
                <input type="submit" class="btn" value="Commit">
              </div>

            </form>

         </section>

       </div> <!-- End Second Key -->
       
       <div class="stat-B">

         <header>
             <span class="status-B">&#x25BA;</span>
             <h3>
                 <a href="#panel3" class="key">Analyze</a>
                 <strong>Uncommitted Changes</strong>
             </h3>
         </header>

         <section id="panel3">
            <form method="post" action="#">
              <div>
                <input type="submit" class="btn red" value="Revert">
              </div>
            </form>
         </section>

       </div> <!-- End Third Key -->

       <div class="stat-A">

         <header>
             <span class="status-A">&#x25BA;</span>
             <h3>
                 <a href="#panel4" class="key">Bambino</a>
             </h3>
         </header>

      </div> <!-- End Fourth Key -->

    </div> <!-- div#accordion -->

    <input type="submit" value="Deploy Site" id="tag_deployment" class="btn btn-large">
    <p><small>You'll have to tag each application before you can deploy this site.</small></p>

  </div>

  <script src="../../smtemplates/smtemplates/static/js/SM.js"></script>

  <script src="../../smtemplates/smtemplates/static/js/utils/object.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/utils/array.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/utils/string.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/lib/json2.js"></script>

  <script src="../../smtemplates/smtemplates/static/js/lib/jquery-1.7.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/views/view.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/utils/view.js"></script>
  <script src="../../smtemplates/smtemplates/static/js/views/accordions.js"></script>
   
  <script src="js/site/patterns.js"></script>

</body>

</html>